.card4{
    width: 100%;
    height: 400px;
    background-image: url(../Backgroundimg/img4.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    position: relative;
}

.img4{
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    height: 210px;
    max-height: 210px;
    min-height: 210px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    border-radius: 100%;
}
.title4{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 5rem;
}
.des4{
    font-size: 1.1rem;
    margin-left: 5.2rem;
}

.button4 {
    background-color: #38bdf8; 
    color: white;
    border: none; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    position: relative; 
    z-index: 1; 
    margin-left: 15rem;
    margin-top: 5rem;
}

.button4:hover {
    transform: translateY(-2px); 
}

.button4:active {
    transform: translateY(0);
}
.editIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.editIcon svg {
    font-size: 20px;
    color: #38bdf8;
}
