.card3 {
    width: 100%;
    height: 300px;
    background-image: url(../Backgroundimg/img3.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: black;
    overflow: hidden;
    position: relative;
}

.img3 {
    position: absolute;
    bottom: -3rem;
    right: -4rem;
    height: 250px;
    max-height: 250px;
    min-width: 250px;
    width: 290px;
    max-width: 290px;
    min-width: 290px;
    border-radius: 100%; 
}
.title3{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1rem;
    color: black;
}
.des3{
    font-size: 1.1rem;
    margin-left: 1.1rem;
}

.button3 {
    background-color: black; 
    color: #f59e0b;
    border: none; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    position: relative; 
    z-index: 1; 
    margin-left: 1rem;
    margin-top: 2rem;
}

.button3:hover {
    transform: translateY(-2px); 
}

.button3:active {
    transform: translateY(0);
}
.editIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.editIcon svg {
    font-size: 20px;
    color: white;
}








